name: Java CI

on:
  push:
    branches: [main]

jobs:
  run-java:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: '22'

    - run: |
        javac Hello.java
        java Hello
